name: Container image build and push (OpenID)

on:
  workflow_call:
    inputs:
      dockerfile:
        description: 'Path to the Dockerfile'
        required: false
        type: string
        default: './Dockerfile'
      context:
        description: 'Build context path'
        required: false
        type: string
        default: '.'
      image-name:
        description: 'Image name (e.g., myapp)'
        required: true
        type: string
      image-tags:
        description: 'Space-separated list of tags (e.g., "latest v1.0.0")'
        required: false
        type: string
        default: 'latest'
      build-args:
        description: 'List of build-time variables (newline-delimited KEY=value pairs)'
        required: false
        type: string
        default: ''
      platforms:
        description: 'Comma-separated list of target platforms (e.g., linux/amd64,linux/arm64,linux/arm/v7). Common options: linux/amd64 (Intel/AMD 64-bit), linux/arm64 (ARM 64-bit), linux/arm/v7 (ARM 32-bit)'
        required: false
        type: string
        default: 'linux/amd64'
      push:
        description: 'Push image to registry'
        required: false
        type: boolean
        default: true
      runner:
        description: 'GitHub runner to use'
        required: false
        type: string
        default: 'ubuntu-latest'
      checkout-repository:
        description: 'Whether to checkout the repository'
        required: false
        type: boolean
        default: true
      registry-name:
        description: 'The name of the Azure Container Registry (ACR) to push the image to (without .azurecr.io)'
        required: true
        type: string
      azure-client-id:
        description: 'The client ID of the service principal to be used for OIDC login'
        required: true
        type: string
      azure-tenant-id:
        description: 'The tenant ID that hosts the service principal to be used for login'
        required: false
        type: string
        default: '531ff96d-0ae9-462a-8d2d-bec7c0b42082'
    outputs:
      image-digest:
        description: 'Image digest of the built container'
        value: ${{ jobs.build-and-push.outputs.digest }}
      image-tags:
        description: 'Full image tags that were pushed'
        value: ${{ jobs.build-and-push.outputs.tags }}

jobs:
  build-and-push:
    runs-on: ${{ inputs.runner }}
    permissions:
      id-token: write
      contents: read
    outputs:
      digest: ${{ steps.build.outputs.digest }}
      tags: ${{ steps.build.outputs.tags }}
    steps:
      - name: Checkout repository
        if: inputs.checkout-repository
        uses: actions/checkout@v4

      - name: Build and push container image
        id: build
        uses: hmcts/cnp-githubactions-library/container-build-push-openid@main
        with:
          azure-client-id: ${{ inputs.azure-client-id }}
          azure-tenant-id: ${{ inputs.azure-tenant-id }}
          registry-name: ${{ inputs.registry-name }}
          image-name: ${{ inputs.image-name }}
          image-tags: ${{ inputs.image-tags }}
          dockerfile: ${{ inputs.dockerfile }}
          context: ${{ inputs.context }}
          platforms: ${{ inputs.platforms }}
          build-args: ${{ inputs.build-args }}
          push: ${{ inputs.push }}
